asgiref==3.7.2
beautifulsoup4==4.12.2
colorama==0.4.6
creategitignore==0.2.1
databases==0.8.0
dj-database-url==2.1.0
Django==3.2.21
django-autoslug==1.9.9
greenlet==2.0.2
gunicorn==21.2.0
packaging==23.1
Pillow==9.5.0
psycopg2-binary==2.9.7
pytz==2023.3.post1
soupsieve==2.4.1
SQLAlchemy==1.4.49
sqlparse==0.4.4
typing_extensions==4.8.0
utils==1.0.1
whitenoise==6.5.0
