{% extends 'main.html' %}
{% block content %}
<hr>
<h1> Auction List</h1>
<table>
    <tr>
        <th>Title</th>
        <th>Created</th>
        <th>Price</th>
        <th>Current Bid</th>
        <th>Starting Bid</th>
        <th>Winner</th>
        <th></th>
    </tr>
    {% for auction in auctions %}
    <tr>
        <td>{{ auction.title }}</td>
        <td>{{ auction.start_date }}</td>
        <td>${{ auction.price }}</td>
        <td>${{ auction.current_bid }}</td>
        <td>${{ auction.starting_bid }}</td>
        <td>{{ auction.winner }}</td>
        <td><a href="{% url 'auction' auction.id %}">View</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock content %}
