{% extends 'main.html' %}
{% load static %}
{% block content %}


<div class="container-fluid bg-danger py-5 text-white">
        <div class="row pt-5">
            <div class="col-12 col-lg-10">
                <h1 class="display-5 fw-bold ms-0 ps-0 ms-md-5 ps-md-5 pt-3">Active Listings</h1>
            </div>
        </div>
    </div>



    <!-- Live Auction -->
    <div class="container-fluid">

      <div class="row mx-5 mb-5 p-3">
          {% for auction in auctions %}

        <div class="col-12 col-md-6 col-lg-4 p-3 auction-card  text-center">
          <div class=" p-3 auction border border-outline-1">
            <div class="auction-photo">

              <img src="{{ auction.featured_image.url }}" alt="auction-1" class="img-fluid">
              <p class="fw-bold auction-time text-danger bg-white m-0 p-3 mx-auto">-124D :23H : 02M : 53S</p>
            </div>
            <div class="auction">
              <h3 class="text-start fs-4">{{ auction.title }}</h3>

              <div class="auctioner my-3 d-flex justify-content-between">
                <div class="user d-flex align-items-center">
                  {% if auction.seller.username %}
                      <p class=""><a href="{% url 'user_auctions' auction.seller.username %}">By {{ auction.seller.username }}</a></p>
                  {% else %}
                      <p class="">By Anonymous</p>
                  {% endif %}


                </div>
                <h4 class="text-danger">${{ auction.price }}</h4>
              </div>
              <div class="auction-action d-flex align-items-center justify-content-between">
                <a href="{% url 'place-bid' auction.id %}">
                    <button class="btn btn-md btn-danger">Place a Bid</button>
                </a>

                <form action="{% url 'add_to_watchlist' auction.id %}" method="POST">
                {% csrf_token %}
                    <button type="submit" class="btn btn-link text-decoration-none">
                        <button class="btn btn-md btn-danger">Add to watchlist</button>
                    </button>
                </form>
              </div>
            </div>
          </div>
        </div>

          {% endfor %}
      </div>
    </div>

{% endblock content %}
