{% extends 'main.html' %}

{% block content %}


    <div class="container-fluid bg-danger py-5 text-white">
        <div class="row pt-5">
            <div class="col-12 col-lg-10">
                <h1 class="display-5 fw-bold ms-0 ps-0 ms-md-5 ps-md-5 pt-3">Categories</h1>
            </div>
        </div>
    </div>
  <h1>Categories</h1>
  <ul>
    {% for category in categories %}
      <li><a href="{% url 'category_auctions' category.slug %}">{{ category.name }}</a></li>
    {% empty %}
      <li>No categories.</li>
    {% endfor %}
  </ul>
{% endblock %}
