{% extends 'main.html' %}

{% block content %}


    <div class="container-fluid bg-danger py-5 text-white">
        <div class="row pt-5">
            <div class="col-12 col-lg-10">
                <h1 class="display-5 fw-bold ms-0 ps-0 ms-md-5 ps-md-5 pt-3">Categories</h1>
            </div>
        </div>
    </div>
<h1>{{ category.name }}</h1>
{% if active_auctions %}
  <ul>
    {% for auction in active_auctions %}
        <li><a href="{% url 'auction_detail' auction.id %}">{{ auction.title }}</a></li>
    {% endfor %}
  </ul>
{% else %}
  <p>No active auctions in this category.</p>
{% endif %}


{% endblock content %}