{% extends 'main.html' %}

{% block content %}
<div class="container-fluid bg-danger py-5 text-white">
    <div class="row pt-5">
        <div class="col-12 col-lg-10">
            <h1 class="display-5 fw-bold ms-0 ps-0 ms-md-5 ps-md-5 pt-3">Place Bid</h1>
        </div>
    </div>
</div>

<div class="container">
    <h2>{{ auction.title }}</h2>
    <p>{{ auction.description }}</p>
    <p>Current bid: {{ auction.current_bid }}</p>

    <form method="POST" action="{% url 'place-bid' auction.id %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="bid_amount">Bid Amount:</label>
            <input type="number" step="0.01" min="{{ auction.current_bid }}"
                   id="bid_amount" name="bid_amount" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-md btn-danger">Place a Bid</button>
    </form>
</div>
{% endblock content %}
