{% extends 'main.html' %}

{% block content %}
    <img style="max-width: 500px" src="{{ auction.featured_image.url }}">
    <h1>{{ auction.title }}</h1>
    <p>Current price: {{ auction.price }}</p>
    <p>Bids:</p>
<hr>
{% for bid in bids %}

    <span style="border:1px solid grey ">{{ bid }}</span>
    <li>{{ bid.bidder.username }} - {{ bid.amount }}</li>
    {% empty %}
      <li>No bids yet.</li>

{% endfor %}
    <hr>
    <hr>
    <p>{{ auction.description }}</p>
    <br>
    </ul>
  <p>Comments:</p>
  <ul>
    {% for comment in auction.comments.all %}
      <li>{{ comment.author.username }} - {{ comment.text }}</li>
    {% empty %}
      <li>No comments yet.</li>
    {% endfor %}
</ul>
{% endblock content %}