{% extends 'main.html' %}

{% block content %}
{% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
<div class="container-fluid bg-danger py-5 text-white">
    <div class="row pt-5">
        <div class="col-12 col-lg-10">
            <h1 class="display-5 fw-bold ms-0 ps-0 ms-md-5 ps-md-5 pt-3">Watchlist</h1>
        </div>
    </div>
</div>

{% for item in watchlist_items %}
    <div class="row mx-0 mx-md-5 p-2">
        <div class="col-12 border col-md-4 text-center">
            <img src="{{ item.auction.featured_image.url }}" alt="auc1" class="img-fluid py-5">
        </div>
        <div class="col-12 col-md-8 border p-3">
            <div class="auction-detail">
                <a href="{% url 'auction' item.auction.id %}" class="auction">

                <h4 class="fw-bold">{{ item.auction.title }}</h4>
                <p>{{ item.auction.description }}</p>
                </a>
                <p class="fs-5">Bidding Price: <span class="bidding-price text-danger">${{ item.auction.price }}</span></p>
            </div>
                <form action="{% url 'remove_from_watchlist' item.auction.id %}" method="POST">
                    {% csrf_token %}
                    <div class="text-center text-md-start">
                        <button type="submit" class="btn btn-success mb-3 px-3">Remove from Watchlist</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endfor %}

{% endblock content %}
