{% extends 'main.html' %}

{% block content %}
    <div class="container-fluid bg-danger py-5 text-white">
        <div class="row pt-5">
            <div class="col-12 col-lg-10">
                <h1 class="display-5 fw-bold ms-0 ps-0 ms-md-5 ps-md-5 pt-3">
                    Auction Listing</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="alert alert-danger mt-5">
            <h3>Auction Closed</h3>
            {% if auction_winner == user %}
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <div class="card mt-5">
                            <div class="card-body text-center">
                                <h3>Congratulations!</h3>
                                <p>You have won this auction.</p>
                                <p>Thank you for participating!</p>
                                <a href="{% url 'auctions' %}" class="btn btn-primary">Back to other Auctions</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <p>Keep an eye out for other exciting auctions.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
